.MainContainer{
    width:500px;
    border-width:2px;
    border-style: solid;
}
.ProfilePictureContainer{
    width:100px;
    display:inline-block;
    vertical-align: top;

}

.CatImage{
    width:66px;
    border-radius:50px;
    padding-left:20px;
    padding-top:20px;
}

.ProfileDescription{
    width:170px;
    display:inline-block;
    font-family: Roboto, Arial;
    vertical-align: top;
    margin-left: 30px;

}

.ProfileButton{
     width:100px;
    display:inline-block;
     vertical-align: top;
     margin-left: 100px;
     margin-top: 50px;
}

.DescriptionName{
    font-weight: bold;
    margin-bottom:0px;
}

.DescriptionSecondaryName{
    margin-top:8px;
    margin-bottom:0px;

}

.DescriptionPopular{
    margin-top:10px;
}

.Profile{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(21, 121, 187);
  color:white;
  font-family: Roboto, Arial;
  border:none;
  border-radius: 4px;



}