p{
    font-family:Montserrat;
    font-size: 30px;
    font-style: normal;
}


.NewMode{
     font-family:Montserrat;
     text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-left:0px;
}

.SpecialDec{
    font-family: Montserrat;
    font-size: 25px;
    cursor:pointer;
}

.SpecialDec:hover{
    text-decoration:underline;
}