.Thumbnails{
    width: 300px;
    /* height:300px;
    object-fit: contain;
    object-position:center;
    border-width: 2px;
    border-style:solid; */
}

.SearchDashbar{
    font-family: Arial;
    font-size: 30px;
    display: block;
    margin-left: 10px;
    padding-left: 5px;

}


.MainContainer{
   display: grid;
   grid-template-columns: 1fr 1fr 1.01fr;

}

.VideoHeading{
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 200px;
    line-height:22px;
    margin-bottom: 5px;
    margin-top:0px;

}

.VideoAuthor, .VideoStats{
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 0px;
}

 .VideoStats{
    margin-top: 4px;
 }

.DescriptionContainer{
   display: grid;
   grid-template-columns: 50px 1fr;
}


 .ProfileImgContainer
 {
    
 }

 .VideoDetailsContainer{
   margin-left: 5px;
 }

 .ProfilePicture{
    width:50px;
    border-radius: 50px;    
 }

 .ThumbnailsContainer{
    margin-bottom:0px;
 }

 