.Thumbnails{
    width: 300px;
    height:300px;
    object-fit: contain;
    object-position:center;
    border-width: 2px;
    border-style:solid;
}

.SearchDashbar{
    font-family: Arial;
    font-size: 30px;
}