.Thumbnails{
    width: 300px;
    /* height:300px;
    object-fit: contain;
    object-position:center;
    border-width: 2px;
    border-style:solid; */
}

.SearchDashbar{
    font-family: Arial;
    font-size: 30px;
    display: block;
    margin-left: 10px;
    padding-left: 5px;

}

.VideoHeading{
    font-family: Roboto, Arial, sans-serif;
    color: rgb(0, 0, 0);
    width: 280px;

}

.VideoAuthor, .VideoStats{
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 0px;
}

 .VideoStats{
    margin-top: 4px;
 }

 .Container{
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    vertical-align: baseline;
 }